.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#lancamentos div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}


/* Parte 03 ------------*/

#part3 div {
    height: 500px;
    width: 40vw;

}

#part3-title {
    text-align: center;
}



#part3-descric {
    padding-left: 20px;

    /* background-color: beige; */
}

/* --------------- */