@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}


body {
    font-size: 20px;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
}

.container-flex {
    display: flex;
    /* position: relative; */
    /* height: 100%; */
    width: 97vw;
    border: 10px solid black;
}

/* --------------------------------------------------JP e IRIS forever------------------------------------------------------------- */

/*Estilo Header*/

header {
  background-color: black;
  height: 3%;
  display: flex;
  justify-content: space-between;

}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.set-logo {
  display: flex;
  margin-left: 25px;
}

.set-search {
  display: flex;
  border: solid;
  border-color: white;
  margin-right: 25px;
}

.input-search {
  background-color: black;
  color: white;
  display: flex;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.input-search::placeholder {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Estilo do Footer*/
footer {
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.rodape {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: white;
  
}

.logo-rodape {
  display: flex;
  margin-right: 25px;
}

/*Estilo Header*/

header {
  background-color: black;
  height: 3%;
  display: flex;
  justify-content: space-between;

}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.set-logo {
  display: flex;
  margin-left: 25px;
}

.set-search {
  display: flex;
  border: solid;
  border-color: white;
  margin-right: 25px;
}

.input-search {
  background-color: black;
  color: white;
  display: flex;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.input-search::placeholder {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Estilo do Footer*/
footer {
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: space-between;

}

.rodape {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: white;
  
}

.logo-rodape {
  display: flex;
  margin-right: 25px;
}













/* --------------------------------------------------JONAS e ISAC forever------------------------------------------------------------- */

.container-flex {
    display: flex;
    position: relative; 
    /*ight: ;*/ 
    width: 98%;
    border: 10px solid black;
}

div#container-part03-video {
    height: 65vh;
    width: 60vw;
    background-color: aquamarine;
    padding: 10px;
}

#container-part03-video iframe {
    height: 100%;
    width: 100%;
}

div#container-part03-desc {
    height:5vh;
    width: 40vw;
    padding: 10px;
    background-color: blueviolet;
}

div#container-part04-novidades {
    height: 75vh;
    width: 60vw;
    padding: 10px;
    border: 10px solid aquamarine;
    margin: 5px;
}

div#container-part04-propagandas {
    height: 75vh;
    width: 30vw;
    padding: 10px;
    border: 10px solid blueviolet;
    margin: 5px;
}

#container-part05 { /*foi necessário reescrever a part05 para se adequar às necessidades; se conseguir achar uma forma melhor, pode mudar*/
    display:flex;
    align-items: center;
    flex-direction: column;
}

div#container-part05-favoritos{
    height: 10vh;
    width: 90vw;
    border: 10px solid aquamarine;
    margin: 5px;
}

div#container-part06-1 {
    height: 80vh;
    width: 25vw;
    border: 10px solid aquamarine;
}

#container-part06-2 { /*mesma lógica do container 5*/
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#container-part06-2-1 {
    height: 22vh;
    width: 50vw;
    margin: 10px;
    border: 10px solid aquamarine;
}

div#container-part06-3 {
    height: 80vh;
    width: 25vw;
    border: 10px solid aquamarine;
}

div#container-part07 {
    height: 90vh;
    width: 96vw;
}
