@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}


body {
  font-size: 20px;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 12px;
}

.container-flex {
  display: flex;
  position: relative;
  /* height: 100%; */
  width: 98%;
  /* border: 10px solid black; */
  margin: 1%;
}



/* --------------------------------------------------JP e IRIS forever------------------------------------------------------------- */

/*Estilo Header*/

header {
  background-color: black;
  height: 3%;
  display: flex;
  justify-content: space-between;

}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  margin-left: 40px;
}

.logo img {
  height: 30px;
  width: 100px;
  margin: 15px;
  margin-left: 0px;
}

.set-search {
  display: flex;
  border: solid;
  border-color: white;
  margin-right: 25px;
}

.input-search {
  background-color: black;
  color: white;
  display: flex;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.input-search::placeholder {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Estilo do Footer*/
footer {
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.rodape {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: white;

}

.logo-rodape {
  display: flex;
  margin-right: 25px;
}

/*Estilo Header*/

header {
  background-color: black;
  height: 3%;
  display: flex;
  justify-content: space-between;

}

nav {
  display: flex;
  align-items: center;
  gap: 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

.set-logo {
  display: flex;
  margin-left: 25px;
}

.set-search {
  display: flex;
  border: solid;
  border-color: white;
  margin-right: 25px;
}

.input-search {
  background-color: black;
  color: white;
  display: flex;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.input-search::placeholder {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Estilo do Footer*/
footer {
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: space-between;

}

.rodape {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: white;

}

.logo-rodape {
  display: flex;
  margin-right: 25px;
}

/* Entrevistas feito pelo jp */
.entrevistas {
  background-color: #e1e1e1;
}

.entrevistas-videos {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 10px;
  gap: 5px;
  padding: 20px 90px 80px;
}

.entrevistas-videos iframe {
  width: 320px;
  height: 180px;
}

.css-button {
  position: absolute;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 6px;
  background-color: #515151;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  width: 14vw;
  margin-top: 45vh;
  margin-left: 76vw;
}

.comunidade {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
  padding: 10vh 5vw 10vh;
}


/* CSS para a parte livre 1 */

.video-entrevista{
  width: 320px;
  height: 180px;
}

.titulo{
  padding-top: 4vh;
  padding-left: 8.5vw;
  font-size: 1.5em;
  
}
/* --------------------------------------------------JONAS e ISAC forever------------------------------------------------------------- */

div#container-part03-video {
  height: 65vh;
  width: 60vw;
  background-color: aquamarine;
  padding: 10px;
}

#container-part03-video iframe {
  height: 100%;
  width: 100%;
}

div#container-part03-desc {
  height: 5vh;
  width: 40vw;
  padding: 10px;
  background-color: blueviolet;
}

div#container-part04-novidades {
  height: fit-content;
  width: 60vw;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-top: 1%;
}

div#container-part04-novidades-1 div,
div#container-part04-novidades-2 div,
div#container-part04-novidades-3 div {
  margin-top: 1%;
}

div#container-part04-novidades-1 img,
div#container-part04-novidades-2 img,
div#container-part04-novidades-3 img {
  height: 15%;
  width: 15%;
  padding: 1%;
}

hr.solid {
  border-top: 3px solid #bbb;
}

div#container-part04-propagandas {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 5px;
  margin-top: 2%;
}

#container-part05 {
  /*foi necessário reescrever a part05 para se adequar às necessidades; se conseguir achar uma forma melhor, pode mudar*/
  display: flex;
  align-items: center;
  flex-direction: column;
}

div#container-part05-favoritos {
  height: 10vh;
  width: 90vw;

  margin: 5px;
}

div#container-part06-1 {
  height: 80vh;
  width: 25vw;
}

#container-part06-2 {
  /*mesma lógica do container 5*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div#container-part06-2-1 {
  height: 22vh;
  width: 50vw;
  margin: 10px;

}

div#container-part06-3 {
  height: 80vh;
  width: 25vw;

}

div#container-part07 {
  height: 90vh;
  width: 96vw;
}